.va-input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 15px;
    transition: border-color .15s ease-in-out;
    width: 100%;
}
.va-input:hover{
    border-color: #c0c4cc;
}
.va-input:focus{
    outline: none;
    border-color: #409eff;
}

.va-input::placeholder {
    color: #c0c4cc;
}

.va-login-form-item {
    width: 400px;
    margin-top: 30px;
    position: relative;
}

.va-login-form-item-captcha {
    display: flex;
}

.va-input-error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}

.va-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #409eff;
    border: 1px solid #409eff;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

.va-button:hover, .va-button:focus {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
}

.va-login {
    position: relative;
    height: 100%;
    width: 100%;
    background: #0081c1;
}

.va-login:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 230px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 166, 196, 0.9);
    box-shadow: -110px 30px rgba(0, 152, 192, 0.9);
    z-index: 10;
}
.va-login:after {
    content: "";
    position: absolute;
    top: 100px;
    left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(0, 166, 196, 0.9);
    box-shadow: 70px -140px rgba(0, 187, 206, 0.9);
    z-index: 10;
}

.va-login-form {
    border-radius: 4px;
    background: #fff;
    padding: 15px 35px 35px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 100;
}

.va-zoom-in-top-enter-active,
.va-zoom-in-top-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: center top;
}

.va-zoom-in-top-enter,
.va-zoom-in-top-leave-active {
    opacity: 0;
    transform: scaleY(0);
}