/** 顶部栏的颜色主题 */
.va-main-header {
    background-color: #14293A;
    color: #fff;
    font-size: 12px;
    border-bottom: 1px solid #14293A;
}

.va-main-header-name {
    color: #fff;
}

/** 侧边栏的颜色主题 */
.va-main-aside {
    background-color: #142e44;
    background-image: linear-gradient(#142e44, #274B69);
}

.va-main-aside .el-submenu__title i,
.va-main-aside .el-menu-item i {
    color: #eee;
}

.va-main-aside .el-menu-item.is-active i {
    color: #42a5f5 !important;
}

.va-main-aside .el-menu-item.is-active {
    color: #42a5f5 !important;
    background-color:rgba(30, 76, 78, 0.55) !important;
}

.va-main-aside .el-menu-item, 
.va-main-aside .el-submenu__title {
    color: #fff !important;
    background-color: transparent !important;
}

.va-main-aside .el-menu-item:focus, 
.va-main-aside .el-menu-item:hover, 
.va-main-aside .el-submenu__title:focus, 
.va-main-aside .el-submenu__title:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* 表格主题 */
.va-table-thead-theme {
    background: #eef1f6 !important;
    background-color:#eef1f6 !important;
    color:#666666 !important;
    border-top: 1px solid #eef1f6 !important;
}
.va-table-thead-theme thead th, .demo-table-thead thead tr{
    background: #eef1f6 !important;
    background-color:#eef1f6 !important;
    color:#666666 !important;
    border-top: 1px solid #eef1f6 !important;
}
.va-table-thead-theme thead th:nth-child(1) {
    border-radius: 6px 0px 0px 0px;
}
.va-table-thead-theme thead th:nth-last-child(2) {
    border-radius: 0px 6px 0px 0px;
}
.va-table-thead-theme thead th:nth-last-child(1) {
    border-radius: 0px 6px 0px 0px;
}
.va-table-thead-theme .el-table__empty-text {
    line-height: 396px!important;
    width: 50%;
    color: #666666;
    height: 220px;
}